{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block content %}
	<div class="container">
		<div class="col-lg-12 box-default">
			<h1 class="box-header">
				Mensajería privada
			</h1>
			
		<div id="new-publication" class="col-lg-4 pull-left box-default">
			Para <p class="asunto">{{ usuario}}</p>
			Sobre la publicación <p class="asunto">{{ publicacion }} </p>
			{{ form_start(form, {action : '', 'method' : 'POST'}) }}
			{{ form_end(form) }}
		</div>
			<div class="clearfix">
			</div>
		</div>
	{% endblock %}	

